* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

/* 使每段开头的第一个字母变红变大 */
#paragraph::first-letter {
    color: green;
    font-size: 50px;
    text-shadow: 2px 2px 5px grey;
}

/* 在某个块级元素的第一行引用样式. */
#paragraph::first-line {
    color: blue;
}

/* 应用于文档被用户高亮的部分(如鼠标或其他选择设备选中的部分 */
::selection {
    background-color: lightblue;
    color: gray;
}

/* CSS伪元素::after用来创建一个伪元素，作为已选中元素的最后一个子元素。通常会配合content属性来为该元素添加装饰内容.这个虚拟元素默认是行内元素 */
.plus::after {
    content: " +";
}

.plus::before {
    content: "- ";
}