* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

input[type="checkbox"]:checked {
    outline: 10px double lightblue;
}

input[type="text"]:disabled {
    background-color: lightgray;
}

#cool:focus {
    background-color: aqua;
}

p:nth-child(3) {
    color: orangered;
}